<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card 2</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <div class="card2-container">
        <div class="card2">
            <div class="card2__cover">
                <img class="img" src="../images/product.png" alt="">
            </div>

            <div class="card2__content">

                <span class="card2__badge">New Arrivals</span>

                <div class="cadr2__details">
                    <h3 class="heading-3">
                        Summer Collection
                    </h3>

                    <p class="pragraph">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>


            </div>
        </div>

        <div class="card2">
            <div class="card2__cover">
                <img class="img" src="../images/product.png" alt="">
            </div>

            <div class="card2__content">

                <span class="card2__badge">New Arrivals</span>

                <div class="cadr2__details">
                    <h3 class="heading-3">
                        Summer Collection
                    </h3>

                    <p class="pragraph">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>


            </div>
        </div>

    </div>

</body>

</html>