<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | nyaa-kart</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <header class="header">
        <a href="/"><img src="../images/nyaa-kart.svg" alt="nyaa-UI Logo" class="logo"></a>

        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="search here">
            <button class="search__button">
                <svg class="search__icon">
                    <use href="../images/sprite.svg#icon-magnifying-glass">
                    </use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <a href="./wishlist.html">
                    <svg class="user-nav__icon">
                        <use href="../images/sprite.svg#icon-heart-outlined">
                        </use>
                    </svg>
                </a>

                <span class="user-nav__notification">5</span>
            </div>

            <div class="user-nav__icon-box">

                <a href="./cart.html">
                    <svg class="user-nav__icon">
                        <use href="../images/sprite.svg#icon-shopping-cart">
                        </use>
                    </svg>
                </a>

                <span class="user-nav__notification">18</span>
            </div>

            <div class="user-nav__user">
                <a href="./login.html"> <span class="user-nav__user-name user-nav__login">Login</span></a>
            </div>
        </nav>
    </header>

    <div class="main m-2">

        <div class="card-horizontal">

            <div class="card__cover mr-2">

                <div class="card2__image">
                    <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                </div>

            </div>

            <div class="card-horizontal__content">

                <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                <div class="d-flex">
                    <h3 class="text-bold mb-2">$2000</h3>
                    <div class="p text-grey text-md text-strike-through ml-4">$3000</div>
                </div>

                <div class="h4 text-bold text-grey mb-1">50% Off</div>

                <div class="d-flex-r my-2">
                    <p class="mr-1">Quantity:</p>
                    <button class="quantity-btn p-1 btn-round btn-grey">-</button>
                    <input class="card__input mx-1" type="text" name="" id="" size="1">
                    <button class="quantity-btn p-1 btn-round btn-grey">+</button>

                </div>


                <button class="btn btn-block btn-grey mb-1 py-1 px-1">Remove From Cart</button>

                <button class="btn btn-block btn-outline--grey py-1 px-1">Move to Wishlist</button>

            </div>

        </div>

        <div class="price p-2">
            <div class="h5 text-bold my-1">Price Details</div>
            <hr>
            <div class="price__item my-1">
                <span class="px-1">Price (2 items)
                </span>
                <span class="px-1">₹4999</span>

            </div>

            <div class="price__discount my-1">
                <span class="px-1">Discount
                </span>
                <span class="px-1">- ₹1999</span>
            </div>

            <div class="price__delivery my-1">
                <span class="px-1">Delivery Charges
                </span>
                <span class="px-1">₹499</span>
            </div>

            <hr>

            <div class="text-bold my-1">
                <span class="px-1"> TOTAL AMOUNT
                </span>
                <span class="px-1">₹3499</span>

            </div>

            <hr>

            <div class="text-lightbold my-2">
                <span class="px-1">You will save ₹1999 on this order.
                </span>

            </div>

            <div class="my-1">
                <button class="btn btn-block btn-primary">Place Order</button>
            </div>
        </div>
    </div>

</body>

</html>