<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart | nyaa-kart</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <div class="cart-container">
        <div class="cart">
            <div class="cart__cover">
                <img src="../images/product.png" alt="Product">
            </div>
            <div class="cart__content">
                <h4 class="heading">
                    Men Premium Jacket
                </h4>


                <div class="product-price">
                    <h2 class="heading-2">
                        ₹2000
                    </h2>

                    <span class="price2">₹3999</span>

                </div>


                <div class="cart__badge">
                    50% off
                </div>

                <div class="cart__quantity">
                    <p class="paragraph">Quantity :</p>
                    <button class="quantity-btn">-</button>
                    <input class="quantity-input" type="text" value="1">
                    <button class="quantity-btn">+</button>
                </div>

                <button class="btn cart-btn">Remove from Cart</button>
                <button class="btn cart-btn__outline">Move to Wishlist</button>
            </div>
        </div>

        <div class="price">
            <h3>Price Details</h3>
            <hr>
            <div class="price__item">
                <span>Price (2 items)
                </span>
                <span>₹4999</span>

            </div>

            <div class="price__discount">
                <span>Discount
                </span>
                <span>- ₹1999</span>
            </div>

            <div class="price__delivery">
                <span>Delivery Charges
                </span>
                <span>₹499</span>
            </div>

            <hr>

            <div class="price__total">
                <span> TOTAL AMOUNT
                </span>
                <span>₹3499</span>

            </div>

            <hr>

            <div class="price__benefit">
                <span>You will save ₹1999 on this order.
                </span>

            </div>

            <div class="price-btn">
                <button class="btn btn-2 price-btn">Place Order</button>
            </div>
        </div>
    </div>

</body>

</html>