<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Component - nyaa-kart</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <div class="example-container">

        <div class="container">
            <h3 class="heading">
                Header Before Login
            </h3>

            <header class="header">
                <img src="../images/nyaa-kart.svg" alt="nyaa-UI Logo" class="logo">

                <form action="#" class="search">
                    <input type="text" class="search__input" placeholder="search here">
                    <button class="search__button">
                        <svg class="search__icon">
                            <use href="../images/sprite.svg#icon-magnifying-glass">
                            </use>
                        </svg>
                    </button>
                </form>

                <nav class="user-nav">
                    <div class="user-nav__icon-box">
                        <svg class="user-nav__icon">
                            <use href="../images/sprite.svg#icon-heart-outlined">
                            </use>
                        </svg>

                        <span class="user-nav__notification">5</span>
                    </div>

                    <div class="user-nav__icon-box">

                        <svg class="user-nav__icon">
                            <use href="../images/sprite.svg#icon-shopping-cart">
                            </use>
                        </svg>

                        <span class="user-nav__notification">18</span>
                    </div>

                    <div class="user-nav__user">
                        <span class="user-nav__user-name user-nav__login">Login</span>
                    </div>
                </nav>
            </header>

            <div class="example-divider"></div>

            <h3 class="heading">
                Header After Login
            </h3>

            <header class="header">
                <img src="../images/nyaa-kart.svg" alt="nyaa-UI Logo" class="logo">

                <form action="#" class="search">
                    <input type="text" class="search__input" placeholder="search here">
                    <button class="search__button">
                        <svg class="search__icon">
                            <use href="../images/sprite.svg#icon-magnifying-glass">
                            </use>
                        </svg>
                    </button>
                </form>

                <nav class="user-nav">
                    <div class="user-nav__icon-box">
                        <svg class="user-nav__icon">
                            <use href="../images/sprite.svg#icon-heart-outlined">
                            </use>
                        </svg>

                        <span class="user-nav__notification">5</span>
                    </div>

                    <div class="user-nav__icon-box">

                        <svg class="user-nav__icon">
                            <use href="../images/sprite.svg#icon-shopping-cart">
                            </use>
                        </svg>

                        <span class="user-nav__notification">18</span>
                    </div>

                    <div class="user-nav__user">
                        <img src="../images/avatar.jpg" alt="User Photo" class="user-nav__user-photo">
                        <span class="user-nav__user-name">Nizam</span>
                    </div>
                </nav>
            </header>
        </div>

    </div>


</body>

</html>