<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | nyaa-kart</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <header class="header">
        <a href="/"><img src="../images/nyaa-kart.svg" alt="nyaa-UI Logo" class="logo"></a>

        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="search here">
            <button class="search__button">
                <svg class="search__icon">
                    <use href="../images/sprite.svg#icon-magnifying-glass">
                    </use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <svg class="user-nav__icon">
                    <use href="../images/sprite.svg#icon-heart-outlined">
                    </use>
                </svg>

                <span class="user-nav__notification">5</span>
            </div>

            <div class="user-nav__icon-box">

                <svg class="user-nav__icon">
                    <use href="../images/sprite.svg#icon-shopping-cart">
                    </use>
                </svg>

                <span class="user-nav__notification">18</span>
            </div>

            <div class="user-nav__user">
                <a href="./login.html"> <span class="user-nav__user-name user-nav__login">Login</span></a>
            </div>
        </nav>
    </header>

    <div class="main mt-4">
        <div class="login p-4">

            <div class="h4 text-center my-2">
                Login
            </div>

            <label class="my-sm" for="email">Email address</label>
            <input class="input p-2 mb-2" type="email" placeholder="nizam@nyaa-kart.nelify.app">

            <label class="my-sm" for="password">Password</label>
            <input class="input p-2" type="password" placeholder="**********">

            <label class="my-1">
                <input type="checkbox" class="label__input" />
                remember me
            </label>

            <a class="my-1" href="#"> Forget Your Password</a>

            <button class="btn btn-primary my-2">Login</button>

            <a href="./signup.html">Create New Account >></a>

        </div>
    </div>

</body>

</html>