<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards | nyaa-kart</title>
    <link rel="shortcut icon" href="./images/nyaa-kart-favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="../main.css">
</head>

<body>


    <div class="category-container">

        <div class="product-category">
            <div class="product-category__cover">
                <img class="product-category__image" src="../images/product-category.svg" alt="Prodcut Category">
            </div>
            <div class="product-category__content">
                <h4>Men</h4>
            </div>
        </div>
        <div class="product-category">
            <div class="product-category__cover">
                <img class="product-category__image" src="../images/product-category.svg" alt="Prodcut Category">
            </div>
            <div class="product-category__content">
                <h4>Women</h4>
            </div>
        </div>
        <div class="product-category">
            <div class="product-category__cover">
                <img class="product-category__image" src="../images/product-category.svg" alt="Prodcut Category">
            </div>
            <div class="product-category__content">
                <h4>Kids</h4>
            </div>
        </div>
        <div class="product-category">
            <div class="product-category__cover">
                <img class="product-category__image" src="../images/product-category.svg" alt="Prodcut Category">
            </div>
            <div class="product-category__content">
                <h4>Summer</h4>
            </div>
        </div>
        <div class="product-category">
            <div class="product-category__cover">
                <img class="product-category__image" src="../images/product-category.svg" alt="Prodcut Category">
            </div>
            <div class="product-category__content">
                <h4>Winter</h4>
            </div>
        </div>

    </div>

</body>

</html>