<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products | nyaa-kart</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <header class="header">
        <a href="/"><img src="../images/nyaa-kart.svg" alt="nyaa-UI Logo" class="logo"></a>


        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="search here">
            <button class="search__button">
                <svg class="search__icon">
                    <use href="../images/sprite.svg#icon-magnifying-glass">
                    </use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <a href="./wishlist.html">
                    <svg class="user-nav__icon">
                        <use href="../images/sprite.svg#icon-heart-outlined">
                        </use>
                    </svg>
                </a>

                <span class="user-nav__notification">5</span>
            </div>

            <div class="user-nav__icon-box">

                <a href="./cart.html">
                    <svg class="user-nav__icon">
                        <use href="../images/sprite.svg#icon-shopping-cart">
                        </use>
                    </svg>
                </a>

                <span class="user-nav__notification">18</span>
            </div>

            <div class="user-nav__user">
                <a href="./login.html"> <span class="user-nav__user-name user-nav__login">Login</span></a>
            </div>
        </nav>
    </header>

    <main class="main">
        <div class="filter-container">

            <div class="filter__div1">
                <h4 class="heading-4">Filters</h4>
                <a href="#" class="clear-btn">Clear</a>
            </div>



            <div class="filter__div2">
                <h4 class="heading-5">Price</h4>

                <div class="slider-range">
                    <span>50</span>
                    <span>150</span>
                    <span>200</span>
                </div>
                <div class="price-slider">
                    <input type="range" min="50" max="200" value="100" class="slider">
                </div>

            </div>

            <div class="filter__div3">
                <h4 class="heading-4">Category</h4>
                <label class="label">
                    <input type="checkbox" class="label__input" checked="checked" />
                    Men Clothing
                </label>
                <label class="label">
                    <input type="checkbox" class="label__input" />
                    Men Clothing
                </label>
            </div>

            <div class="filter__div3">
                <h4 class="heading-4">Rating</h4>
                <label class="label">
                    <input type="radio" class="label__input" />
                    4 Stars & above
                </label>
                <label class="label">
                    <input type="radio" class="label__input" checked="checked" />
                    3 Stars & above
                </label>
                <label class="label">
                    <input type="radio" class="label__input" />
                    2 Stars & above
                </label>
                <label class="label">
                    <input type="radio" class="label__input" />
                    1 Stars & above
                </label>
            </div>

            <div class="filter__div3">
                <h4 class="heading-4">Sort by</h4>
                <label class="label">
                    <input type="radio" class="label__input" />
                    Price - Low to High
                </label>
                <label class="label">
                    <input type="radio" class="label__input" />
                    Price - High to Low
                </label>
            </div>

        </div>

        <div class="product-container">

            <div class="product-card">
                <div class="product-card__cover">
                    <img class="img" src="../images/product.png" alt="Product">
                    <svg class="product-card__icon">
                        <use href="../images/sprite.svg#icon-heart">
                        </use>
                    </svg>
                </div>

                <div class="product-card__content">
                    <div class="product-card__title">Men Premium Jacket</div>
                    <h3 class="product-card__price">$2000</h3>

                    <button class="btn">Add to Cart</button>

                </div>
            </div>

            <div class="product-card">
                <div class="product-card__cover">
                    <img class="img" src="../images/product.png" alt="Product">
                    <svg class="product-card__icon">
                        <use href="../images/sprite.svg#icon-heart">
                        </use>
                    </svg>
                </div>

                <div class="product-card__content">
                    <div class="product-card__title">Men Premium Jacket</div>
                    <h3 class="product-card__price">$2000</h3>

                    <button class="btn">Add to Cart</button>

                </div>
            </div>
            <div class="product-card">
                <div class="product-card__cover">
                    <img class="img" src="../images/product.png" alt="Product">
                    <svg class="product-card__icon">
                        <use href="../images/sprite.svg#icon-heart">
                        </use>
                    </svg>
                </div>

                <div class="product-card__content">
                    <div class="product-card__title">Men Premium Jacket</div>
                    <h3 class="product-card__price">$2000</h3>

                    <button class="btn btn-2">Go to Cart</button>

                </div>
            </div>

            <div class="product-card">
                <div class="product-card__cover">
                    <img class="img" src="../images/product.png" alt="Product">
                    <svg class="product-card__icon">
                        <use href="../images/sprite.svg#icon-heart">
                        </use>
                    </svg>
                </div>

                <div class="product-card__content">
                    <div class="product-card__title">Men Premium Jacket</div>
                    <h3 class="product-card__price">$2000</h3>

                    <button class="btn">Add to Cart</button>

                </div>
            </div>

            <div class="product-card">
                <div class="product-card__cover">
                    <img class="img" src="../images/product.png" alt="Product">
                    <svg class="product-card__icon">
                        <use href="../images/sprite.svg#icon-heart">
                        </use>
                    </svg>
                </div>

                <div class="product-card__content">
                    <div class="product-card__title">Men Premium Jacket</div>
                    <h3 class="product-card__price">$2000</h3>

                    <button class="btn">Add to Cart</button>

                </div>
            </div>

            <div class="product-card">
                <div class="product-card__cover">
                    <img class="img" src="../images/product.png" alt="Product">
                    <svg class="product-card__icon">
                        <use href="../images/sprite.svg#icon-heart">
                        </use>
                    </svg>
                </div>

                <div class="product-card__content">
                    <div class="product-card__title">Men Premium Jacket</div>
                    <h3 class="product-card__price">$2000</h3>

                    <button class="btn">Add to Cart</button>

                </div>
            </div>
        </div>
    </main>

</body>

</html>