<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist | nyaa-kart</title>
    <link rel="stylesheet" href="../main.css">
</head>

<body>

    <header class="header">
        <a href="/"><img src="../images/nyaa-kart.svg" alt="nyaa-UI Logo" class="logo"></a>


        <form action="#" class="search">
            <input type="text" class="search__input" placeholder="search here">
            <button class="search__button">
                <svg class="search__icon">
                    <use href="../images/sprite.svg#icon-magnifying-glass">
                    </use>
                </svg>
            </button>
        </form>

        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <a href="./wishlist.html">
                    <svg class="user-nav__icon">
                        <use href="../images/sprite.svg#icon-heart-outlined">
                        </use>
                    </svg>
                </a>

                <span class="user-nav__notification">5</span>
            </div>

            <div class="user-nav__icon-box">

                <a href="./cart.html">
                    <svg class="user-nav__icon">
                        <use href="../images/sprite.svg#icon-shopping-cart">
                        </use>
                    </svg>
                </a>

                <span class="user-nav__notification">18</span>
            </div>

            <div class="user-nav__user">
                <a href="./login.html"> <span class="user-nav__user-name user-nav__login">Login</span></a>
            </div>
        </nav>
    </header>

    <main class="main m-3">
        <div class="card-container my-4">

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-accent">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-primary py-1">Go to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-grey">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-grey py-1">Add to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-accent">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-grey py-1">Move to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-accent">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-primary py-1">Go to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-grey">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-grey py-1">Add to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-accent">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-grey py-1">Move to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-accent">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-grey py-1">Move to Cart</button>

                </div>

            </div>

            <div class="card">

                <div class="card__cover">

                    <div class="card__image">
                        <img class="img" src="../images/product.png" alt="Men Premium Jacket">
                    </div>

                    <div class="icon-container card__icon">
                        <svg class="icon-sm icon-accent">
                            <use href="../images/sprite.svg#icon-heart">
                            </use>
                        </svg>
                    </div>

                </div>

                <div class="card__content">

                    <div class="p my-2 text-lightbold">Men Premium Jacket</div>

                    <h3 class="text-bold mb-2">$2000</h3>

                    <button class="btn btn-block btn-grey py-1">Move to Cart</button>

                </div>

            </div>

        </div>
    </main>

</body>

</html>