.price {
  font-size: 1.5rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.price > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quantity-btn {
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
