.filter-container {
  max-width: 25rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--white-color);
  padding: 4rem;
}

.filter-container > * {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.filter__div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear-btn {
  text-decoration: underline;
}

.price-slider {
  border: 1px solid var(--color-grey-light-4);
  padding: 0.1rem 1rem;
}

.slider {
  width: 15rem;
}

.slider-range {
  display: flex;
  justify-content: space-between;
}
