/* Header */

.header {
  font-size: 1.6rem;
  height: 7rem;
  background-color: var(--color-grey-light-1);
  border-bottom: 1px solid var(--color-grey-light-1);
  box-shadow: var(--header-shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */

.logo {
  height: 3.8rem;
  margin-left: 2rem;
}

/* search */

.search {
  flex: 0 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: var(--color-grey-light-2);
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  width: 90%;
  transition: all 0.2s;
  margin-right: -3rem;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background-color: var(--color-grey-light-3);
}

.search__input::-webkit-input-placeholder {
  color: var(--color-grey-dark-4);
}

.search__input:focus + .search__button {
  background-color: var(--color-grey-light-3);
}

.search__button {
  border: none;
  background-color: var(--color-grey-light-2);
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  transform: translateY(2px);
}

.search__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-4);
}

/* user navigation */

.user-nav {
  align-self: stretch;

  display: flex;
  align-items: center;
}

.user-nav > * {
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}

.user-nav > *:hover {
  background-color: var(--color-grey-light-2);
}
.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-grey-dark-2);
}

.user-nav__notification {
  font-size: 0.8rem;
  font-weight: 600;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  background-color: var(--color-accent);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 20%;
  right: 20%;
}

.user-nav__user-photo {
  height: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-nav__login {
  font-size: 1rem;
  color: #fff;
  padding: 0.8rem 1.6rem;
  margin: 1rem;
  background-color: var(--color-grey-dark-4);
}

@media screen and (max-width: 550px) {
  .user-nav {
    display: none;
  }
}
