.img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.img--small {
  max-width: 4rem;
}

.img--medium {
  max-width: 6rem;
}

.img--large {
  max-width: 8rem;
}

.img--round {
  border-radius: 50%;
}

.img--bordered {
  border: 1.5rem solid var(--primary-color);
}
