.login {
  font-size: 1.6rem;
  color: var(--color-headings);
  max-width: 90%;
  width: 40rem;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

.input {
  border-radius: 5px;
  border: 1px solid var(--color-grey-light-4);
}

.input::placeholder {
  font-size: 1.2rem;
  color: var(--color-grey-dark-2);
}
