.category-container {
  margin: 4rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product-category {
  position: relative;
  max-width: 286rem;
  max-height: 140rem;
  display: flex;
  cursor: pointer;
}

.product-category__image {
  max-width: 100%;
  object-fit: cover;
}

.product-category__content {
  width: 100%;
  background-color: var(--white-color);
  position: absolute;
  top: 35%;
  text-align: center;
}
